@media (max-width: 1024px) {

    main {
        overflow: hidden;
        width: 100vw;
    }

    header{
        width: 100vw;
        height: 100px;
    }

    .sidenav-overlay {
        display: none!important;
    }

    .sidenav a{
        font-family: 'BebasNeue-Regular'!important;
        color: RGB(106, 111, 70)!important;
        font-size: 1.5em!important;
    }

    .mapicon{
        color: RGB(106, 111, 70)!important;
        margin-left: -25px!important;
    }

    .logo-header2{
        width: 50%;
        margin-left: 75px;
        margin-top: 25px;
    }

    .sidenav-trigger{
        z-index: 10!important;
        margin-left: 25px!important;
    }

    .logo-header{
        width: 110%!important;
        margin-top: 15px;
        margin-right: -100px;
    }

    .nav-wrapper{
        height:100px!important;
        width: 100vw;
    }


   
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/

    .panel {
        width: 100vw;
        height: 550px;
    }

    .slide{
        width: 100vw;
        height: 550px;
    }

    .panel .carousel-panel .slide .blur-background {
        opacity: 0;
    }

    .panel .carousel-panel .slide .blur-background2 {
        opacity: 0;
    }

    .panel .carousel-panel .slide .blur-background3 {
        opacity: 0;
    }

    .contenedor-info-panel {
        opacity: 0;
    }

    .img-panel1{
        margin-top: -100px;
    }

    .banner{
        text-align: center;
    }

    .img-gilada{
        width: 100%;
        margin-left: -5px;
    }

    .expositor{
        height: 750px;
        margin-top: -20px;
    }

    

}