@media (max-width: 1024px) {

    main {
        overflow: hidden;
        width: 100vw;
    }

    header{
        width: 100vw;
        height: 100px;
    }

    .hamburgesa{
        position: absolute;
        opacity: 1;
        z-index: 10;
        right: 5%;
    }

    .logo-header{
        width: 40%!important;
        margin-top: 20px;
    }

    .nav-wrapper{
        height:100px!important;
        width: 100vw;
    }

   
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/

    .panel {
        width: 100vw;
        height: 100vh;
    }

    .slide{
        width: 100vw;
        height: 600px;
    }

    .panel .carousel-panel .slide .blur-background {
        opacity: 0;
    }

    .panel .carousel-panel .slide .blur-background2 {
        opacity: 0;
    }

    .panel .carousel-panel .slide .blur-background3 {
        opacity: 0;
    }

    .contenedor-info-panel {
        opacity: 0;
    }

}