@media (max-width: 1024px) {

    main {
        overflow: hidden;
        width: 100vw;
    }

    header{
        width: 100vw;
        height: 100px;
    }

    .hamburgesa{
        position: absolute;
        opacity: 1;
        z-index: 10;
        right: 0;
    }

    .logo-header{
        width: 110%!important;
        margin-top: 15px;
        margin-right: -100px;
    }

    .nav-wrapper{
        height:100px!important;
        width: 100vw;
    }


   
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/

    .panel {
        width: 100vw;
        height: 550px;
    }

    .slide{
        width: 100vw;
        height: 550px;
    }

    .panel .carousel-panel .slide .blur-background {
        opacity: 0;
    }

    .panel .carousel-panel .slide .blur-background2 {
        opacity: 0;
    }

    .panel .carousel-panel .slide .blur-background3 {
        opacity: 0;
    }

    .contenedor-info-panel {
        opacity: 0;
    }

    .img-panel1{
        margin-top: -100px;
    }

    .banner{
        text-align: center;
    }

    .img-gilada{
        width: 100%;
        margin-left: -5px;
    }

    .expositor{
        height: 750px;
        margin-top: -20px;
    }

}