#app {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}


.container-tartas {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 150px;
}

.container-tartas img {
    width: 180px;
    height: 180px;
    margin-right: 1rem;
    margin-left: -70px;
}

.container-content-tartas {
    flex-grow: 1;
}

.container-tartas h2 {
    margin: 0;
    font-family: 'Poppins';
    font-size: 1.3rem;
    color: var(--color-dos);
    padding: 15px;
}

.container-tartas p {
    margin: 0.5rem 0 0;
    padding: 15px;
    font-size: 0.9rem;
    color: #666;
    display: none;
    transition: 0.7s ease;
}

.container-tartas button {
    background-color: transparent;
    border: none;
    color: var(--color-dos);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
    transition: transform 0.3s ease;
    margin-right: 15px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container-tartas button.expanded {
    transform: rotate(180deg);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container-tartas.expanded p {
    display: block;
}
.container-tartas.expanded{
    height: 200px;
}

.container-tartas.expanded img{
    width: 280px;
    height: 300px;
    margin-left: -120px;
}

