@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat.ttf') format('opentype');
}

.contenedor-catalogo{
    position: relative;
    width: 80%;
    height: 1400px;
    background: whitesmoke;
    margin-top: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0,0.5);
}

.contenedor-tarta1 {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.tarta1 {
    width: 65%;
    height: auto;
    margin-left: -20%;
    margin-right: 2%;
    cursor: pointer;
    transition: transform 0.3s ease; /* Suaviza la transición por defecto */
}

.contenedor-info-tartas {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 500px;
    margin-top: -100px;
}

.contenedor-info-tartas h3 {
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--color-uno);
    font-size: 3em;
}

.contenedor-info-tartas p {
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--color-uno);
    font-size: 1em;
}

.contenedor-tarta2 {
    width: 150%;
    height: 400px;
    display: flex;
    align-items: center;
    margin-left: -150px;
}

.tarta2 {
    width: 45%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease; /* Suaviza la transición por defecto */
    margin-left: -140px;  
}

.contenedor-info-tartas2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 700px;
    margin-left: 200px;
}

.contenedor-info-tartas2 h3 {
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--color-uno);
    font-size: 3em;
}

.contenedor-info-tartas2 p {
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--color-uno);
    font-size: 1em;
}

/* Aplicando la transformación al hacer hover */
.contenedor-tarta3 .tarta3:hover,
.contenedor-tarta2 .tarta2:hover,
.contenedor-tarta1 .tarta1:hover{
    transform: scale(1.1); /* Escala 10% más grande */
}

/* Al quitar el hover, vuelve a su tamaño original suavemente */
.tarta1,
.tarta2,
.tarta3 {
    transform: scale(1); /* Asegúrate de que el tamaño original sea 1 */
}

.contenedor-tarta3 {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}
.tarta3 {
    width: 65%;
    height: auto;
    margin-left: -20%;
    margin-right: 2%;
    cursor: pointer;
    transition: transform 0.3s ease; /* Suaviza la transición por defecto */
}

.contenedor-info-tartas3 {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 500px;
    margin-top: 100px;
    text-align: left;
}

.contenedor-info-tartas3 h3 {
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--color-uno);
    font-size: 3em;
}

.contenedor-info-tartas3 p {
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--color-uno);
    font-size: 1em;
}

.color-info-tartas{
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--color-dos);
}



.modal{
    width: 64%!important;
}

.btn{
    background: var(--color-dos)!important;
    font-family: 'Poppins';
    font-weight: bold;
}

.btn-info-nutri{
    margin-top: 15px;
    border-radius: 50px!important;
}

.modal-content{
    margin-top: 35px!important;
}

.modal-footer{
    position: absolute;
}

.icon-close-modal{
    font-size: 3em!important;
}

.img-datos-tartas{
    width: 30%;
}

.contenedor-boton-info-nutri{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 350px;
}

.contenedor-boton-info-nutri img{
    margin-left: -19px;
}